<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project002">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_sh_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project002"
        tools:targetApi="31"
        android:name=".ProjectApp">
        <meta-data
             android:name="com.google.android.geo.API_KEY"
             android:value="${MAPS_API_KEY}"
            />
        <activity
            android:name=".ul.activities.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Project002.NoActionBar" />
        <activity
            android:name=".ul.activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Project002.NoActionBar" />
        <activity
            android:name=".ul.activities.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Project002.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>